{% extends '../base.html' %}

{% block content %}

<h2>Completed Tasks</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Priority</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr class="table-light">
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.priority }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
