{% extends '../base.html' %} {% block content %}
<a href="{% url 'task_create' %}" class="btn btn-success mb-3"
  > Add Task</a
>
<table class="table table-bordered">
  <thead>
    <tr>
        <th scope="col"><i class="bi bi-check fs-6"></i></th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Due Date</th>
      <th scope="col">Priority</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %} 
    {% if not task.is_completed %}
    <tr
      class="{% if task.priority == 'high' %}table-danger
      {% elif task.priority == 'medium' %}table-warning
       {% else %}table-success
        {% endif %}"
    >

      <td>
        <a href="{% url 'task_complete' task.pk %}" aria-label="check task" title="check task"  class="btn btn-sm btn-outline-success">
          <i class="bi bi-check fs-7"></i>
        </a>
      </td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.due_date }}</td>
      <td>{{ task.priority }}</td>
      <td>
        <a href="{% url 'task_delete' task.pk %}" aria-label="delete" title="delete" class="btn btn-sm btn-primary"
          ><i class="bi bi-archive"></i></a
        >
        <a href="{% url 'task_edit' task.pk %}" aria-label="edit" title="edit" class="btn btn-sm btn-danger"
          ><i class="bi bi-pen"></i></a
        >
        
      </td>
    </tr>
    {% endif %} 
    {% endfor %}
  </tbody>
</table>

{% endblock %}
